@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col s12 m12 l12">
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Deck ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Password</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="empData in employeesData">
                <td>{{empData.eData.fName}}</td>
                <td>{{empData.eData.lName}}</td>
                <td>{{empData.dData.deptName}}</td>
            </tr>
        </tbody>
    </table>
</div>