@{
    Layout = "~/Views/Shared/_Dashboard2.cshtml";
}


<!--First Row-->
<div class="row">

    <div class="titleButtonsContainer">
        <!--Title-->
        <div class="col s8 m8 l8">
            <h3 class="dashboardTitle"> Arcane Decks </h3>
        </div>


        <!--Buttons-->
        <div class="col s2 m2 l2">
            <a class="waves-effect waves-light btn-small" style="width: 13em; margin-left: 3em;">Add Deck</a>
        </div>

        <div class="col s2 m2 l2">
            <a class="waves-effect waves-light btn-small" style="width: 13em;">Study</a>
        </div>

    </div>
</div>


<!--Second Row: Crystal Ball Area-->




<!--Third Row: Deck Title Area-->
