@{
    Layout = "~/Views/Shared/_MainMenuLayout.cshtml";
}

<div ng-controller="FinalProjectController" class="row center" style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: space-between; position: relative;">

    <!--music-->
    <audio controls autoplay>
        <source src="@Url.Content("~/Content/assets/main.mp3")" type="audio/mpeg">
    </audio>


    <!-- Logo / Title -->
    <div class="title-image">
        <img src="~/Content/assets/for_mainmenu.png" style="position: absolute; transform: translateX(-48%); z-index: 1; max-width: 94em; height: auto;">
    </div>

    <!-- Anchor to Bottom -->
    <div class="bottom-container" style="margin-top: auto; z-index: 10; position: relative;">
        <!-- Registration -->
        <div class="col s12 m12 l12">
            <a class="waves-effect waves-light btn-flat mainButton"
               style="pointer-events: auto; z-index: 10;"
               ng-click="redirectToRegistration()">Register</a>
        </div>


        <!-- Login -->
        <div class="col s12 m12 l12" style="margin-top: 8px; margin-bottom: 17.5em;">
            <a class="waves-effect waves-light  btn-flat mainButton"
               style="pointer-events: auto; z-index: 10;"
               ng-click="redirectToLogIn()">Log In</a>
        </div>
    </div>




</div>
