@{
    Layout = "~/Views/Shared/_StudyFlashcards.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Flashcard App</title>
    <link rel="stylesheet" href="~/Content/studyflashcards.css">
    @*the seasons font*@
    <link rel="stylesheet" href="https://use.typekit.net/ffo6zap.css">
</head>
<body>
    <div class="card-container">
        <div class="card-header">
            <span class="card-number center-align">5/25 SpellCards</span>
        </div>
        <img src="~/Content/assets/flashcard_horizontal.png" alt="Flashcard" class="flashcard-image">
        <div class="card-footer">
            <button class="arrow-button left-arrow">←</button>
            <button class="summon-answer-button">Summon Answer</button>
            <button class="arrow-button right-arrow">→</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>