<!DOCTYPE html>
<html>
<head>
    <title>Final Project</title>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body ng-app="FinalProject" ng-controller="FinalProjectController">
    <div>
        @RenderBody()
    </div>
</body>
</html>
