body {
    background: url('assets/view1.gif');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: 500;
}

h1 {
    font-family:  the-seasons,  sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 64px;
    margin-top: 1em;
    margin-left: 20px;
}

/* Ensures that the page takes full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Make the row fill the entire page height */
.row {
    height: 100%;
    margin: 0;
}

/* Sidebar styling (optional, for visual clarity) */
.sidebar {
    height: 55em;
    margin: 0em !important;
    padding-top: 5em !important;
}

/* Main content area should take the remaining space */
.main-content {
    height: 100%;
}


.sidebar .nav-item {
    display: block;
    width: 100%;
    text-align: left;
    padding: 15px;
    color: white;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}

    .sidebar .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .sidebar .nav-item.btn-flat {
        border-radius: 4px;
    }

.sidebar p {
    padding: 10px 15px;
    margin: 10px 0 5px;
    font-size: 0.8em;
    opacity: 0.7;
}

