body {
    background: url('assets/view2_higher.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

.titleButtonsContainer {
    margin-left: 5em;
    margin-right: 5em;
}

/* First Row */
.dashboardTitle {
    margin-top: 1.3em;
    color: #6F5449;
    font-family: the-seasons, sans-serif;
    font-weight: 800;
    font-style: oblique;
    /* Glow effect */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.3);
}

.deckTitle {
    color: white;
    font-family: the-seasons, sans-serif;
    font-weight: 800;
    font-style: oblique;

    /* Glow effect */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.3); 

}

.btn-small {
    margin-top: 4.5em;
    font-family: Philosopher;
    font-weight: 400;
}

